<div *ngIf="product.title"
class="card" style="width: 15rem;">
 <img class="card-img-top" [src]="product.imageUrl" (click)="myFunction(product)" *ngIf="product.imageUrl">
 <div class="card-body">
   <h4 class="card-title">{{ product.title }}</h4>
   <p class="card-text">{{ product.price | currency:'USD':true }}</p>
   <div  *ngIf="showActions"  class="card-footer">
    <button *ngIf="quantity === 0; else updateQuantity "
    (click)="addcart(product)"
     class="btn btn-secondary btn-block">Add to Cart</button>
     <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="ShoppingCart">
        
      </product-quantity>
     </ng-template>
  
      

    
   
  </div>
 </div>

 </div>